@charset: utf-8;

th {
  font-size:100px;
  -webkit-animation-timing-function:linear;
  -webkit-animation: slidein 3s forwards;
  -moz-animation: slidein s forwards;
}

@-webkit-keyframes slidein {
  from {
    padding-left: 100%;
   
  }

  to {
    padding-left: 0%;
    
  }
}

@-moz-keyframes slidein {
  from {
    padding-left: 100%;
    width: 300%;
  }

  to {
    padding-left: 0%;
    width: 100%;
  }
}

div.background {
  background-image:url(https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/10176123_858176034196415_7076397432245555423_n.jpg);
  opacity:0.5;
  width: 100px;
 
  background-attachment:fixed;        
  background-repeat:no-repeat;          
  background-position: center right ;
}  
footer {
  margin-bottom:2cm;
  text-align:center;
}

.container {
  width:650px;
  margin:0 auto;
}

.title {
  text-align:center;
  padding-left:60px;
  margin-bottom:120px;
}

section {
  margin-bottom: 60px;
}

.title-img {
  text-align:justify;
}

.section-title {
  background-image:url('line.png') ;
  background-repeat:no-repeat;
  background-position: left bottom; 
}

.one{
  font-size:2em ;
  font-family:fantasy ;
  color:green;
  
}



a {
  font-size:2em ;
  font-family:fantasy ;
  color:yellow;
}

a:hover {
  color:green;
}

/* css不要用 ID SELECTOR (#) *