@charset: utf-8;
div.bg{
  height:620px;
  background-image:url(https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/10176123_858176034196415_7076397432245555423_n.jpg);
  background-attachment:fixed;         
 background-repeat:no-repeat;          
 background-position: top right; 
}


th {
  font-size:100px;
  animation: slidein 3s forwards;
  -webkit-animation: slidein 3s forwards;
  -moz-animation: slidein 3s forwards;
}

@-webkit-keyframes slidein {
  from {
    padding-left: 100%;  
  }
  to {
    padding-left: 0%;  
    
  }
}

@-moz-keyframes slidein {
  from {
    padding-left: 100%;
  }
  to {
    padding-left: 0%;
  }
}

@keyframes slidein {
  from {
    padding-left: 100%;
  }
  to {
    padding-left: 0%;
  }
}

td.ICE {
  font-size:90px;
  animation: slidein2 3s forwards;
  -webkit-animation: slidein2 1s forwards;
  -moz-animation: slidein2 1s forwards;
  -webkit-transform:rotate(-9deg);
}

@-webkit-keyframes slidein2 {
  from {
    padding-left: 0%;  
  }
  to {
    padding-left: 30%;   
    
  }
}

@-moz-keyframes slidein2 {
  from {
    padding-left: 0%;
  }
  to {
    padding-left: 30%;
  }
}

@keyframes slidein2 {
  from {
    padding-left: 0%;
  }
  to {
    padding-left: 30%;
  }
}
td.TB{
  font-size:50px;
  text-shadow:0px 0px 15px #87CEEB; 
  animation: slidein3 5s forwards ; ;
  -webkit-animation: slidein3 1s infinite; ;
  -moz-animation: slidein3 5s forwards;
}
@-webkit-keyframes slidein3 {
  from {
    text-shadow:0px 0px 15px #87CEEB;  
  }
  to {
   text-shadow:0px 0px 15px #FF37FD;   
  }
}
@-webkit-keyframes slidein3 {
  from {
    text-shadow:0px 0px 15px #87CEEB;  
  }
  to {
   text-shadow:0px 0px 15px #FF37FD;   
  }
}
@-webkit-keyframes slidein3 {
  from {
    text-shadow:0px 0px 15px #87CEEB;  
  }
  to {
   text-shadow:0px 0px 15px #FF37FD;   
  }
}

/* css不要用 ID SELECTOR (#) *
  
